<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="cordova-plugin-kunder-android-shortcuts"
  version="1.0.0">
  <name>cordova-plugin-kunder-android-shortcuts</name>
  <description>Plugin Cordova que proporciona el mecanismo para definir shortcuts estáticos fácilmente.</description>
  <author>kunder SpA</author>
  <keywords>plugin,shortcuts,android</keywords>
  <engines>
    <engine name="cordova" version=">=6.0.0" />
  </engines>

  <js-module src="www/AndroidShortcutsPlugin.js" name="AndroidShortcutsPlugin">
    <merges target="AndroidShortcutsPlugin" />
  </js-module>
  <hook type="after_prepare" src="hooks/001_create_shortcuts_files.js"/>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="AndroidShortcutsPlugin" >
        <param name="android-package" value="cl.kunder.androidshortcuts.AndroidShortcutsPlugin"/>
      </feature>
    </config-file>
    <source-file src="src/android/cl/kunder/androidshortcuts/AndroidShortcutsPlugin.java" target-dir="src/cl/kunder/androidshortcuts" />
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <activity android:name=".ShortcutHelperActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    </config-file>
  </platform>
</plugin>
